.badge {
  display: inline-block;
  width:15px;
  height: 15px;
  border-radius: 15px;

  &__green {
    background-color: #7cad68;
  }
  &__blue {
    background-color: rgba(74, 215, 229, 0.93);
  }
  &__red {
    background-color: #ea4e75;
  }
  &__black {
    background-color: #251a20;
  }
  &__pink {
    background-color: rgba(234, 109, 167, 0.93);
  }
  &__purple {
    background-color: #bd95ef;
  }
  &__grey {
    background-color: #737073;
  } &__lime {
    background-color: #bede83;
  }
}
