* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  width: 750px;
  min-height: 530px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 5px 20px #d7e1e5;
  border-radius: 10px;
  border: 1px solid #c1c8d0;
  font-size: 14px;

  &__sidebar {
    box-sizing: border-box;
    background-color: #dedede;
    width: 30%;
    height: 100%;
    border-right: 1px solid #92d9da;
    padding: 60px 20px;
    border-radius: 10px;

    h2 {
      display: flex;
      justify-content: center;
      padding-bottom: 25px;
      font-weight: bold;
      font-size: 16px;
      color: #007d9f;
    }
  }

  &__tasks {
    flex: 1;
    padding: 35px;
  }
}

.field {
  padding: 8px 12px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    border-color: #525252;
  }
}

.button {
  color: #ffffff;
  background: #85e8bb;
  border-radius: 4px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background: darken(#7ad2ad, 6%);
  }

  &:active {
    background: darken(#92e3bd, 12%);
  }
}